<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工注册</title>
</head>
<body>
    <form method="get" action="/register">
        员工ID: <input type="text" name="sId" >
        姓名: <input type="text" name="sName" >
        性别：<input type="text" name="sGender">
        电话：<input type="text" name="phone" >
        地址：<input type="text" name="address">
        邮箱：<input type="text" name="eMail">
        密码：<input type="text" name="password">
        备注：<input type="text" name="remarks">
        <input type="submit" value="提交"/>
    </form>

</body>
</html>