<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suncaper.hotelorder.mapper.CheckOut_OrderMapper">
  <resultMap id="BaseResultMap" type="com.suncaper.hotelorder.domain.CheckOut_Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="g_id" jdbcType="VARCHAR" property="gId" />
    <result column="r_id" jdbcType="VARCHAR" property="rId" />
    <result column="checkout_date" jdbcType="TIMESTAMP" property="checkoutDate" />
    <result column="returnmoney" jdbcType="INTEGER" property="returnmoney" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.suncaper.hotelorder.domain.CheckOut_Order">
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, s_id, g_id, r_id, checkout_date, returnmoney
  </sql>
  <sql id="Blob_Column_List">
    remarks
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.suncaper.hotelorder.domain.CheckOut_OrderExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from checkout_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.suncaper.hotelorder.domain.CheckOut_OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkout_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from checkout_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkout_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.suncaper.hotelorder.domain.CheckOut_OrderExample">
    delete from checkout_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suncaper.hotelorder.domain.CheckOut_Order">
    insert into checkout_order (id, s_id, g_id, 
      r_id, checkout_date, returnmoney, 
      remarks)
    values (#{id,jdbcType=INTEGER}, #{sId,jdbcType=VARCHAR}, #{gId,jdbcType=VARCHAR}, 
      #{rId,jdbcType=VARCHAR}, #{checkoutDate,jdbcType=TIMESTAMP}, #{returnmoney,jdbcType=INTEGER}, 
      #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suncaper.hotelorder.domain.CheckOut_Order">
    insert into checkout_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="gId != null">
        g_id,
      </if>
      <if test="rId != null">
        r_id,
      </if>
      <if test="checkoutDate != null">
        checkout_date,
      </if>
      <if test="returnmoney != null">
        returnmoney,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="gId != null">
        #{gId,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="checkoutDate != null">
        #{checkoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="returnmoney != null">
        #{returnmoney,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suncaper.hotelorder.domain.CheckOut_OrderExample" resultType="java.lang.Long">
    select count(*) from checkout_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update checkout_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.gId != null">
        g_id = #{record.gId,jdbcType=VARCHAR},
      </if>
      <if test="record.rId != null">
        r_id = #{record.rId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkoutDate != null">
        checkout_date = #{record.checkoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.returnmoney != null">
        returnmoney = #{record.returnmoney,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update checkout_order
    set id = #{record.id,jdbcType=INTEGER},
      s_id = #{record.sId,jdbcType=VARCHAR},
      g_id = #{record.gId,jdbcType=VARCHAR},
      r_id = #{record.rId,jdbcType=VARCHAR},
      checkout_date = #{record.checkoutDate,jdbcType=TIMESTAMP},
      returnmoney = #{record.returnmoney,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update checkout_order
    set id = #{record.id,jdbcType=INTEGER},
      s_id = #{record.sId,jdbcType=VARCHAR},
      g_id = #{record.gId,jdbcType=VARCHAR},
      r_id = #{record.rId,jdbcType=VARCHAR},
      checkout_date = #{record.checkoutDate,jdbcType=TIMESTAMP},
      returnmoney = #{record.returnmoney,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suncaper.hotelorder.domain.CheckOut_Order">
    update checkout_order
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="gId != null">
        g_id = #{gId,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        r_id = #{rId,jdbcType=VARCHAR},
      </if>
      <if test="checkoutDate != null">
        checkout_date = #{checkoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="returnmoney != null">
        returnmoney = #{returnmoney,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.suncaper.hotelorder.domain.CheckOut_Order">
    update checkout_order
    set s_id = #{sId,jdbcType=VARCHAR},
      g_id = #{gId,jdbcType=VARCHAR},
      r_id = #{rId,jdbcType=VARCHAR},
      checkout_date = #{checkoutDate,jdbcType=TIMESTAMP},
      returnmoney = #{returnmoney,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suncaper.hotelorder.domain.CheckOut_Order">
    update checkout_order
    set s_id = #{sId,jdbcType=VARCHAR},
      g_id = #{gId,jdbcType=VARCHAR},
      r_id = #{rId,jdbcType=VARCHAR},
      checkout_date = #{checkoutDate,jdbcType=TIMESTAMP},
      returnmoney = #{returnmoney,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>