<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suncaper.hotelorder.mapper.CheckIn_OrderMapper">
  <resultMap id="BaseResultMap" type="com.suncaper.hotelorder.domain.CheckIn_Order">
    <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="g_id" jdbcType="VARCHAR" property="gId" />
    <result column="r_id" jdbcType="VARCHAR" property="rId" />
    <result column="checkin_date" jdbcType="TIMESTAMP" property="checkinDate" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="deposit" jdbcType="INTEGER" property="deposit" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.suncaper.hotelorder.domain.CheckIn_Order">
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    o_id, s_id, g_id, r_id, checkin_date, money, deposit
  </sql>
  <sql id="Blob_Column_List">
    remarks
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.suncaper.hotelorder.domain.CheckIn_OrderExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from checkin_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.suncaper.hotelorder.domain.CheckIn_OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkin_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from checkin_order
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkin_order
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.suncaper.hotelorder.domain.CheckIn_OrderExample">
    delete from checkin_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suncaper.hotelorder.domain.CheckIn_Order">
    insert into checkin_order (o_id, s_id, g_id, 
      r_id, checkin_date, money, 
      deposit, remarks)
    values (#{oId,jdbcType=INTEGER}, #{sId,jdbcType=VARCHAR}, #{gId,jdbcType=VARCHAR}, 
      #{rId,jdbcType=VARCHAR}, #{checkinDate,jdbcType=TIMESTAMP}, #{money,jdbcType=INTEGER}, 
      #{deposit,jdbcType=INTEGER}, #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suncaper.hotelorder.domain.CheckIn_Order">
    insert into checkin_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        o_id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="gId != null">
        g_id,
      </if>
      <if test="rId != null">
        r_id,
      </if>
      <if test="checkinDate != null">
        checkin_date,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="gId != null">
        #{gId,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="checkinDate != null">
        #{checkinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suncaper.hotelorder.domain.CheckIn_OrderExample" resultType="java.lang.Long">
    select count(*) from checkin_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update checkin_order
    <set>
      <if test="record.oId != null">
        o_id = #{record.oId,jdbcType=INTEGER},
      </if>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.gId != null">
        g_id = #{record.gId,jdbcType=VARCHAR},
      </if>
      <if test="record.rId != null">
        r_id = #{record.rId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkinDate != null">
        checkin_date = #{record.checkinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=INTEGER},
      </if>
      <if test="record.deposit != null">
        deposit = #{record.deposit,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update checkin_order
    set o_id = #{record.oId,jdbcType=INTEGER},
      s_id = #{record.sId,jdbcType=VARCHAR},
      g_id = #{record.gId,jdbcType=VARCHAR},
      r_id = #{record.rId,jdbcType=VARCHAR},
      checkin_date = #{record.checkinDate,jdbcType=TIMESTAMP},
      money = #{record.money,jdbcType=INTEGER},
      deposit = #{record.deposit,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update checkin_order
    set o_id = #{record.oId,jdbcType=INTEGER},
      s_id = #{record.sId,jdbcType=VARCHAR},
      g_id = #{record.gId,jdbcType=VARCHAR},
      r_id = #{record.rId,jdbcType=VARCHAR},
      checkin_date = #{record.checkinDate,jdbcType=TIMESTAMP},
      money = #{record.money,jdbcType=INTEGER},
      deposit = #{record.deposit,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suncaper.hotelorder.domain.CheckIn_Order">
    update checkin_order
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="gId != null">
        g_id = #{gId,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        r_id = #{rId,jdbcType=VARCHAR},
      </if>
      <if test="checkinDate != null">
        checkin_date = #{checkinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.suncaper.hotelorder.domain.CheckIn_Order">
    update checkin_order
    set s_id = #{sId,jdbcType=VARCHAR},
      g_id = #{gId,jdbcType=VARCHAR},
      r_id = #{rId,jdbcType=VARCHAR},
      checkin_date = #{checkinDate,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=LONGVARCHAR}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suncaper.hotelorder.domain.CheckIn_Order">
    update checkin_order
    set s_id = #{sId,jdbcType=VARCHAR},
      g_id = #{gId,jdbcType=VARCHAR},
      r_id = #{rId,jdbcType=VARCHAR},
      checkin_date = #{checkinDate,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=INTEGER}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
</mapper>