<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suncaper.hotelorder.mapper.Room_typeMapper">
  <resultMap id="BaseResultMap" type="com.suncaper.hotelorder.domain.Room_type">
    <id column="t_id" jdbcType="VARCHAR" property="tId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="surplus" jdbcType="INTEGER" property="surplus" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.suncaper.hotelorder.domain.Room_type">
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t_id, type, price, total, surplus, capacity
  </sql>
  <sql id="Blob_Column_List">
    remarks
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.suncaper.hotelorder.domain.Room_typeExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from room_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.suncaper.hotelorder.domain.Room_typeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from room_type
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from room_type
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.suncaper.hotelorder.domain.Room_typeExample">
    delete from room_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suncaper.hotelorder.domain.Room_type">
    insert into room_type (t_id, type, price, 
      total, surplus, capacity, 
      remarks)
    values (#{tId,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{price,jdbcType=INTEGER}, 
      #{total,jdbcType=INTEGER}, #{surplus,jdbcType=INTEGER}, #{capacity,jdbcType=INTEGER}, 
      #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suncaper.hotelorder.domain.Room_type">
    insert into room_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="surplus != null">
        surplus,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="surplus != null">
        #{surplus,jdbcType=INTEGER},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suncaper.hotelorder.domain.Room_typeExample" resultType="java.lang.Long">
    select count(*) from room_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update room_type
    <set>
      <if test="record.tId != null">
        t_id = #{record.tId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.surplus != null">
        surplus = #{record.surplus,jdbcType=INTEGER},
      </if>
      <if test="record.capacity != null">
        capacity = #{record.capacity,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update room_type
    set t_id = #{record.tId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=CHAR},
      price = #{record.price,jdbcType=INTEGER},
      total = #{record.total,jdbcType=INTEGER},
      surplus = #{record.surplus,jdbcType=INTEGER},
      capacity = #{record.capacity,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update room_type
    set t_id = #{record.tId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=CHAR},
      price = #{record.price,jdbcType=INTEGER},
      total = #{record.total,jdbcType=INTEGER},
      surplus = #{record.surplus,jdbcType=INTEGER},
      capacity = #{record.capacity,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suncaper.hotelorder.domain.Room_type">
    update room_type
    <set>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="surplus != null">
        surplus = #{surplus,jdbcType=INTEGER},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.suncaper.hotelorder.domain.Room_type">
    update room_type
    set type = #{type,jdbcType=CHAR},
      price = #{price,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      surplus = #{surplus,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=LONGVARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suncaper.hotelorder.domain.Room_type">
    update room_type
    set type = #{type,jdbcType=CHAR},
      price = #{price,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      surplus = #{surplus,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>